/*Styles for the home page*/
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


/* Style for the pitches section */


/* Registration and Login Form */
.pitchit-form{
    box-shadow: 2px 4px 12px 2px #dcdcdc;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}
.pitchit-form h3{
    display: flex;
    justify-content: center;
}
input#submit.btn.btn-primary{
    margin-top: 10px;
}
