{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">
        <h1>Home Page</h1>
    </div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="media-body">
                  <div class="pitch-metadata">
                    <a class="mr-2" href="#">Author</a>
                    <small class="text-muted">Date 02/08/2018</small>
                  </div>
                  <h2><a class="pitch-title" href="#">Blog Post 1</a></h2>
                  <p class="pitch-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate veli.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="Interview-Pitch">
            {{macro.display(interviewpitches)}}
        </div>
    </div>
</div>



{% endblock %}
